//TOP OF PAGE
$primary: #1a1a1a;
$secondary: #f4f4f4;
$tertiary: #302f2f;
$coal: #3a3b3a;
$turq: #59f4d4;
$ruby: #fc446a;
$black: #000;
$lightDark: #8d8d8d;

$scrollbarThumb: #afafafc4;
$scrollbarThumbHover: #e6e6e6d9;
$scrollbarBackground: $primary;

$modalBackground: rgba($black, 0.75);
